@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Unbounded', cursive;
    margin: 40px 0px 40px 40px;
    color: black;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #f8f8f8;
}

main {
    max-width: 900px;
    padding-right: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color: black;
    line-height: 30px;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.0em;
}

header {
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    line-height: 30px;
}

nav a {
    font-weight: 400;
    padding-right: 2rem;
    text-decoration: none;
    color: rgb(36, 36, 36);
    transition: color 0.3s;
}

nav :hover {
    color: red;
}

nav a.active {
    color: red;
}

p, ul{
    color: #6f6f6f;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin: 0;
}

ul {
    padding-left: 30px;
}

footer {
    font-weight: 400;
}

@media (max-width:415px) {
    body {
        margin: 40px 0px 40px 26px;
    }
}